/* ProfilePage.css */
.btn-google {
    z-index: 999;
    text-align: center;
    border-radius: 50px;
    position: relative;
}

.img-pro {
    border-radius: 100%;
    width: 250px;
    height: 250px;

}

.pro-container {
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.089);
    padding: 3%;
    width: 20%;
    border: white solid 1px;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.profile-text {
    text-align: left;
    font-size: 25px;
}

.text-face-profile {
    margin-top: 5px;
    color: #2B92D4;
    margin-bottom: -35px;
    text-align: left;
}

.text-header {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -50px;
}

.btn-google-logout {
    width: 300px;
    font-size: 30px;
}

@media only screen and (max-width: 480px) {
    .pro-container {
        scale: 0.8;
        width: 350px;
    }

    .text-face-profile {
        font-size: 20px;
        margin-bottom: -30px;
    }

    .profile-text {
        margin-top: 10px;
        font-size: 20px;
    }

    .img-pro {
        border-radius: 100%;
        width: 200px;
        height: 200px;

    }

    .text-header {
        font-size: 30px;
        margin-top: 30px;
    }

    .hr-line {
        margin-bottom: -20px;
    }

    .btn-google-logout {
        width: 300px;
        font-size: 30px;
    }

}